{
  "paths": [
{% for domain, settings in websites.iteritems() %}
    "/var/www/{{ domain | replace('__hostname__', hostname) }}/logs/access.log",
{% endfor %}
    "/var/log/nginx/access.log",
    "/var/log/apache2/access.log",
    "/var/log/httpd/access.log"
  ],
  "fields": { "type": "website_access" }
},
{
  "paths": [
{% for domain, settings in websites.iteritems() %}
    "/var/www/{{ domain | replace('__hostname__', hostname) }}/logs/error.log",
{% endfor %}
    "/var/log/nginx/error.log",
    "/var/log/apache2/error.log",
    "/var/log/httpd/error.log"
  ],
  "fields": { "type": "website_error" }
}
