{% for domain, settings in websites.iteritems() %}
<VirtualHost *:{{ apache_port }}>
  ServerName {{ domain | replace('{{ hostname }}', hostname) }}
  DocumentRoot /var/www/{{ domain | replace('{{ hostname }}', hostname) }}/public_html

  <IfModule mpm_itk_module>
    AssignUserId {{ domain | replace('{{ hostname }}', hostname) }} {{ domain | replace('{{ hostname }}', hostname) }}
  </IfModule>
</VirtualHost>

{% endfor %}
