server {
  server_name mailblock.{{ hostname }};
  listen {{ nginx_port }};
  listen {{ nginx_spdy_port }} spdy;

  location / {
    proxy_pass http://localhost:8025;
    proxy_set_header Connection '';
    proxy_http_version 1.1;
    chunked_transfer_encoding off;
    proxy_buffering off;
    proxy_cache off;
  }
}
