# Fix issues with NFS+Apache adding strange characters
EnableMMAP off
EnableSendfile off

ServerTokens OS
ServerRoot "{{ apache2_base }}"
PidFile {{ apache_pid }}
Timeout 90
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 15

Listen {{ apache_port }}

LoadModule auth_basic_module {{ module_folder }}/mod_auth_basic.so
LoadModule authn_file_module {{ module_folder }}/mod_authn_file.so
LoadModule authn_dbm_module {{ module_folder }}/mod_authn_dbm.so
LoadModule authz_host_module {{ module_folder }}/mod_authz_host.so
LoadModule authz_user_module {{ module_folder }}/mod_authz_user.so
LoadModule include_module {{ module_folder }}/mod_include.so
LoadModule env_module {{ module_folder }}/mod_env.so
LoadModule ext_filter_module {{ module_folder }}/mod_ext_filter.so
LoadModule mime_magic_module {{ module_folder }}/mod_mime_magic.so
LoadModule expires_module {{ module_folder }}/mod_expires.so
LoadModule deflate_module {{ module_folder }}/mod_deflate.so
LoadModule headers_module {{ module_folder }}/mod_headers.so
LoadModule setenvif_module {{ module_folder }}/mod_setenvif.so
LoadModule mime_module {{ module_folder }}/mod_mime.so
LoadModule status_module {{ module_folder }}/mod_status.so
LoadModule info_module {{ module_folder }}/mod_info.so
LoadModule vhost_alias_module {{ module_folder }}/mod_vhost_alias.so
LoadModule negotiation_module {{ module_folder }}/mod_negotiation.so
LoadModule dir_module {{ module_folder }}/mod_dir.so
LoadModule alias_module {{ module_folder }}/mod_alias.so
LoadModule rewrite_module {{ module_folder }}/mod_rewrite.so
LoadModule proxy_module {{ module_folder }}/mod_proxy.so
LoadModule proxy_http_module {{ module_folder }}/mod_proxy_http.so
LoadModule remoteip_module {{ module_folder }}/mod_remoteip.so

{% if ansible_os_family == 'RedHat' %}
LoadModule authn_default_module {{ module_folder }}/mod_authn_default.so
LoadModule authz_default_module {{ module_folder }}/mod_authz_default.so
LoadModule log_config_module {{ module_folder }}/mod_log_config.so
LoadModule logio_module {{ module_folder }}/mod_logio.so
{% else %}
LoadModule authz_core_module {{ module_folder }}/mod_authz_core.so
LoadModule mpm_prefork_module {{ module_folder }}/mod_mpm_prefork.so
LoadModule access_compat_module {{ module_folder }}/mod_access_compat.so
{% endif %}

{% if 'development' not in group_names %}
LoadModule mpm_itk_module {{ module_folder }}/mpm_itk.so
{% endif %}

# Additional configs and modules

<IfModule prefork.c>
  StartServers       5
  MinSpareServers    3
  MaxSpareServers   15
  ServerLimit      25
  MaxClients       25
  MaxRequestsPerChild  501
</IfModule>

<IfModule itk.c>
  StartServers       5
  MinSpareServers    3
  MaxSpareServers   15
  ServerLimit      25
  MaxClients       25
  MaxRequestsPerChild  501
</IfModule>

User  {{ apache_user }}
Group {{ apache_user }}
ServerAdmin spenser@simplesimple.ca
UseCanonicalName Off
DocumentRoot "/var/www"

RemoteIPHeader X-Forwarded-For
RemoteIPInternalProxy 127.0.0.1

<Directory "/var/www">
    Options +FollowSymLinks
    AllowOverride All
{% if ansible_os_family == 'RedHat' %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
</Directory>

DirectoryIndex index.php index.html

AccessFileName .htaccess
<Files ~ "^\.ht">
{% if ansible_os_family == 'RedHat' %}
    Order allow,deny
    Deny from all
    Satisfy All
{% else %}
    Require all denied
{% endif %}
</Files>

TypesConfig /etc/mime.types

{% if ansible_os_family == 'RedHat' %}
<IfModule mod_mime_magic.c>
    MIMEMagicFile conf/magic
</IfModule>
{% endif %}

HostnameLookups Off
ErrorLog /var/log/{{ apache2 }}/error_log
LogLevel warn
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%v %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined_vhost
LogFormat "%h %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
CustomLog /var/log/{{ apache2 }}/access_log combined_vhost

ServerSignature Off

AddLanguage ca .ca
AddLanguage cs .cz .cs
AddLanguage da .dk
AddLanguage de .de
AddLanguage el .el
AddLanguage en .en
AddLanguage eo .eo
AddLanguage es .es
AddLanguage et .et
AddLanguage fr .fr
AddLanguage he .he
AddLanguage hr .hr
AddLanguage it .it
AddLanguage ja .ja
AddLanguage ko .ko
AddLanguage ltz .ltz
AddLanguage nl .nl
AddLanguage nn .nn
AddLanguage no .no
AddLanguage pl .po
AddLanguage pt .pt
AddLanguage pt-BR .pt-br
AddLanguage ru .ru
AddLanguage sv .sv
AddLanguage zh-CN .zh-cn
AddLanguage zh-TW .zh-tw
LanguagePriority en ca cs da de el eo es et fr he hr it ja ko ltz nl nn no pl pt pt-BR ru sv zh-CN zh-TW
ForceLanguagePriority Prefer Fallback
AddDefaultCharset UTF-8
AddType application/x-compress .Z
AddType application/x-gzip .gz .tgz
AddType application/x-x509-ca-cert .crt
AddType application/x-pkcs7-crl    .crl
AddHandler type-map var
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml

BrowserMatch "Mozilla/2" nokeepalive
BrowserMatch "MSIE 4\.0b2;" nokeepalive downgrade-1.0 force-response-1.0
BrowserMatch "RealPlayer 4\.0" force-response-1.0
BrowserMatch "Java/1\.0" force-response-1.0
BrowserMatch "JDK/1\.0" force-response-1.0
BrowserMatch "Microsoft Data Access Internet Publishing Provider" redirect-carefully
BrowserMatch "MS FrontPage" redirect-carefully
BrowserMatch "^WebDrive" redirect-carefully
BrowserMatch "^WebDAVFS/1.[0123]" redirect-carefully
BrowserMatch "^gnome-vfs/1.0" redirect-carefully
BrowserMatch "^XML Spy" redirect-carefully
BrowserMatch "^Dreamweaver-WebDAV-SCM1" redirect-carefully

ServerName {{ hostname }}
{% if ansible_os_family == 'RedHat' %}
# Apache 2.2 needs to know to check the name of VirtualHosts
NameVirtualHost *:{{ apache_port }}
{% endif %}

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|html|php|txt)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

# Load any additional configs
Include {{ apache2_conf_folder }}/*.conf

{% if 'development' in group_names %}
<VirtualHost *:{{ apache_port }}>
    ServerName mailblock.{{ hostname }}
    ProxyPassMatch ^/(.*)$ http://localhost:33411/$1
</VirtualHost>

<VirtualHost *:{{ apache_port }}>
    ServerAlias *.{{ hostname }}
    VirtualDocumentRoot /var/www/shared/%1

    RewriteEngine on
    RewriteRule   ^/robots.txt /var/www/{{ hostname }}/robots.txt
</VirtualHost>

<Location /server-status>
  SetHandler server-status
{% if ansible_os_family == 'RedHat' %}
    Order allow,deny
    Deny from all
    Allow from 127. 10.0.0.
{% else %}
    Require ip 127. 10.0.0.
    Require all denied
{% endif %}
</Location>

<Location /server-info>
  SetHandler server-info
{% if ansible_os_family == 'RedHat' %}
    Order allow,deny
    Deny from all
    Allow from 127. 10.0.0.
{% else %}
    Require ip 127. 10.0.0.
    Require all denied
{% endif %}
</Location>
{% endif %}
